body {
  font-size: 17px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

button,
button:hover {
  font-family: inherit;
  outline: none !important;
  border: 0;
  background: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.1em;
  margin: 0;
}
h1 {
  font-size: 55px;
}
h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}
p {
  margin: 0;
  line-height: 1.4em;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #000;
  line-height: 1.4em;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  transition: color 0.5s ease;
  cursor: pointer;
  border-bottom: 1px solid rgba(206, 222, 223, 0);
  transition: border-bottom 0.5s ease;
}

a:hover {
  color: #6e9c9f;
  transition: color 0.5s ease;
  text-decoration: none;
  border-bottom: 1px solid #cededf;
  transition: border-bottom 0.5s ease;
}

.footer__link,
menu__item a {
  border-bottom: 1px solid rgba(206, 222, 223, 0);
  transition: border-bottom 0.5s ease;
}

.footer__link:hover,
menu__item a:hover {
  border-bottom: 1px solid #cededf;
  transition: border-bottom 0.5s ease;
}

.btn {
  padding: 20px 50px;
  background: #6e9c9f;
  border-radius: 0px;
  transition: all 0.5s ease;
  font-size: 17px;
  color: #fff;
  border: 0;
  border-bottom: none;
}

.btn:hover {
  transition: all 0.5s ease;
  background: #509498;
  color: #fff;
  border-bottom: none;
}

.btn-light {
  border: 1px solid #6e9c9f;
  background: none;
  color: #6e9c9f;
}

.btn-light:hover {
  background: #6e9c9f;
  transition: background 0.5s ease;
  border: 1px solid #6e9c9f;
}

.section-title {
  font-size: 40px;
  padding-bottom: 92px;
}

section,
footer {
  padding-top: 130px;
}
section:last-of-type {
  padding-bottom: 130px;
}
.bread-crumb {
  background: none;
  padding: 26px 0 0;
}
.bread-crumb-item a {
  font-weight: 500;
  font-size: 17px;
}
.bread-crumb-item img {
  padding: 0 13px;
}

.bread-crumb-item.active {
  color: #919191;
}
/* Header */
.logo {
  border-bottom: none;
}
.logo:hover {
  border-bottom: none;
}
.popup-fade {
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.popup-fade:before {
  content: "";
  background: rgba(110, 156, 159, 0.95);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
}

.popup {
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -200px;
  background: #fff;
  z-index: 1000;
  padding: 70px;
}

.popup-success {
  display: none;
  left: 32%;
  margin-left: 0;
}
.popup-success button {
  max-width: 168px;
}
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close {
  padding: 0;
  background-color: rgba(206, 222, 223, 0);
  position: absolute;
  top: 32px;
  right: 32px;
}

.form-book {
  background: #fff;
  display: flex;
  flex-direction: column;
}

.form-book__input {
  border: none;
  border-bottom: 1px solid #000;
  font-family: inherit;
  font-size: 15px;
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 35px;
  outline: none;
}

.form-book__title {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 35px;
  padding: 0 15px;
}

.form-book__title_nopadding {
  padding: 0;
}

.header {
  padding: 54px 0 30px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
}

.sticky-bar {
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  z-index: 9999;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  background: linear-gradient(
    90deg,
    rgba(249, 249, 249, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(241, 234, 220, 1) 100%
  );
}

.menu__item {
  margin-left: 45px;
}
.menu__item:first-child {
  margin-left: 0;
}
.menu__item a {
  transition: all 0.5s ease;
}

.menu__link_active,
.menu__item a:hover {
  color: #6e9c9f;
  text-shadow: 0.12ex 0ex 0ex #6e9c9f;
  transition: all 0.5s ease;
}

.menu__link {
  transition: all 0.5s ease;
}

.basket {
  margin-left: 67px;
}
.menu-img {
  width: 27px;
  height: 27px;
  margin-right: 9px;
  background: url("../img/phone-icon.svg") no-repeat center;
  transition: background 0.5s ease;
}

.menu-img:hover {
  background: url("../img/phone-icon-hover.svg") no-repeat center;
  transition: background 0.5s ease;
}

.btn-down {
  width: 68px;
  height: 68px;
  padding: 0;
  background: rgba(110, 156, 159, 0.1);
  transition: background 0.5s ease;
}

.btn-down:hover {
  transition: background 0.5s ease;
  background: rgba(110, 156, 159, 0.2);
}

.btn-wrapper {
  position: absolute;
  bottom: 140px;
  left: 90px;
}
/* Home Page */

.home-page {
  padding-top: 120px;
  padding-bottom: 60px;
  background: linear-gradient(to right, #fff 55%, #f1eadc 50%);
}

.offer {
  padding-top: 80px;
  margin-top: 60px;
}

.offer__title {
  font-size: 55px;
  max-width: 556px;
}

.offer__text {
  font-size: 20px;
  max-width: 385px;
  padding-top: 45px;
  text-align: right;
}

.foto-wrapper {
  width: 645px;
  height: 581px;
  z-index: 30;
  top: 245px;
  right: 110px;
}

.slider-two:after {
  content: url("../img/home-page-foto1.jpg");
  z-index: 2;
  position: absolute;
  top: 60%;
  left: -22%;
  width: 190px;
  height: 318px;
}

.slider-two:before {
  content: url("../img/home-page-foto2.jpg");
  z-index: 2;
  position: absolute;
  top: 19%;
  left: 67%;
  width: 197px;
  height: 197px;
}
/* New Collection */

.card {
  border: 0;
  overflow: hidden;
  margin-bottom: 65px;
}

.card-img-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(110, 156, 159, 0.64);
  opacity: 0;
  bottom: 69px;
  transition: opacity 0.5s ease;
}

.card-img-overlay:hover {
  transition: opacity 0.5s ease;
  opacity: 1;
  cursor: pointer;
}

.card-body {
  padding: 24px 0 0;
}

.card__price {
  font-size: 15px;
  color: #998e78;
}

.card__price s {
  color: #9c9c9c;
}

/* Benefits */

.advantage__body {
  padding-top: 37px;
}

.advantage__title {
  font-size: 25px;
  padding-bottom: 24px;
}

.advantage__text:nth-child(odd) {
  padding-top: 30px;
  padding-bottom: 23px;
}

.advantage__link {
  color: #6e9c9f;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(206, 222, 223, 0);
  transition: border-bottom 0.5s ease;
}
.advantage__link:hover {
  border-bottom: 1px solid #cededf;
  color: #6e9c9f;
  transition: border-bottom 0.5s ease;
}

/* Dream Team */

.dream-team {
  padding-bottom: 110px;
}
.slider-team__item img {
  width: 100%;
}

/* Footer */
footer {
  background: #f1eadc;
  padding: 104px 0 88px;
}
.menu__tel_nofone::before {
  content: "";
  background: none;
}

.menu__tel_nofone:hover::before {
  content: "";
  background: none;
}
.mail {
  color: #000;
  transition: color 0.5s ease;
}

.mail:hover {
  color: #6e9c9f;
  transition: color 0.5s ease;
}

.info,
.info a {
  font-size: 13px;
}

.info__link:first-of-type {
  margin: 6px 0;
}
.catalog {
  padding-top: 39px;
}
.catalog__item {
  font-size: 13px;
  color: #000;
  transition: color 0.5s ease;
  margin-bottom: 10px;
}

.catalog__item:last-child {
  margin-bottom: 0;
}

.social {
  padding: 31px 0;
}

.social__link {
  margin-right: 12px;
}
.social__link:last-child {
  margin-right: 0;
}

#back-top a {
  background: rgba(110, 156, 159, 0.6) url("../img/up-arrow.png") no-repeat
    center center / cover;
  height: 55px;
  width: 54px;
  right: 31px;
  bottom: 18px;
  position: fixed;
  border-radius: 50%;
  box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
  cursor: pointer;
}

/* SHOP */
.shop {
  padding-top: 0;
}
.btn-wrapper-shop {
  padding-bottom: 92px;
}
.page-title {
  padding: 269px 0 84px;
}

.breadcrumb-item a {
  font-size: 17px;
  font-weight: 500;
}

.breadcrumb-item active {
  color: #909090;
}

.btn-shop {
  padding: 19px 65px;
  border: 1px solid #000000;
  background: #fff;
  font-weight: 500;
  font-size: 17px;
  margin-right: 10px;
  transition: all 0.5s ease;
}

.btn-shop:hover {
  border: 1px solid #000000;
  background: #000;
  color: #fff;
  transition: all 0.5s ease;
}

.btn-shop.active {
  color: #fff;
  background: #000;
  cursor: default;
}

.number-of-goods {
  color: #808080;
  padding-bottom: 65px;
}

.pag-shop__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  text-align: center;
  border: 1px solid #000000;
  font-size: 17px;
  transition: all 0.5s ease;
}

.pag-shop__link_noborder,
.pag-shop__link_noborder:hover {
  border: 0;
}

.pag-shop__item:last-child {
  margin-right: 0;
}

.pag-shop__item {
  margin-right: 14px;
}
.pag-shop__item a.active,
.pag-shop__item button.active {
  color: #fff;
  background: #000;
  cursor: default;
}

.pag-shop__link {
  color: inherit;
  font-size: 17px;
}

.pag-shop__link:hover {
  color: #fff;
  background: #000;
  border: 1px solid #000000;
  transition: all 0.5s ease;
}

/* Goods */

.goods-title {
  padding-top: 80px;
}
.option {
  padding-left: 70px;
}
.option__text {
  padding: 59px 0 34px;
}
.option__price {
  font-size: 40px;
  color: #998e78;
}

.option__price s {
  color: #9c9c9c;
}

.option__color-item {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  margin-right: 14px;
  border: none;
  transition: border 0.5s ease;
}

.option__color-item:hover {
  border: 1px solid #000000;
  transition: border 0.5s ease;
}
.option__color-item.active {
  border: 1px solid #000000;
}

.option__color_brown,
.option__color_brown:hover {
  background: #927876;
}

.option__color_grey,
.option__color_grey:hover {
  background: #d4d4d4;
}

.option__color_pink,
.option__color_pink:hover {
  background: #fd9696;
}

.option__color_orange,
.option__color_orange:hover {
  background: #fdc796;
}

.option__input {
  width: 67px;
  height: 67px;
  border: 1px solid #afafaf;
  margin-right: 11px;
  text-align: center;
}
.option__input:focus {
  outline: none !important;
}
.input-wrapper {
  margin-top: 59px;
}
.goods-title {
  padding-top: 189px;
}
.goods-section {
  padding-top: 102px;
}

/* About */
.row-wrapper-about {
  padding: 130px 0 130px;
}
.img-wrapper img {
  width: 100%;
}
.about__body {
  margin-left: 94px;
}

.about__body_left {
  margin-left: 0;
  margin-right: 94px;
}

.about__title {
  font-size: 25px;
  padding-bottom: 24px;
}

.about__text:nth-child(odd) {
  padding-top: 30px;
  padding-bottom: 23px;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Contacts */
.form-book textarea {
  width: 443px;
  height: 134px;
}
.contacts-wrapper {
  margin-top: 130px;
}

.contacts__content {
  font-size: 20px;
  padding-top: 19px;
}

.form-book__title_margin {
  padding: 0;
  margin-bottom: 62px;
}

.success-message {
  padding: 30px 76px;
  background: #f1eadc;
  margin-top: 62px;
  display: none;
}

/* Basket */

.row-wrapper {
  padding-bottom: 26px;
  border-bottom: 1px solid #cccccc;
}
.span-wrap span:nth-child(1) {
  margin-right: 20px;
}
.basket-wrapper {
  padding: 49px 0 72px;
}
.total {
  margin-top: 88px;
}
.total__span {
  padding: 14px 51px 14px 31px;
  background: #f1eadc;
  font-size: 25px;
}

.total__span span:first-child {
  padding-right: 69px;
}
.btn-wrap {
  padding-top: 28px;
}
.basket-card__item a:last-child {
  margin-left: 40px;
}

/* Success */

.order-wrap__text {
  padding-left: 44px;
}

.order-wrap__text h3 {
  padding-bottom: 17px;
}

/* Ordering */

textarea {
  width: 350px;
  height: 134px;
}
.adress-wrapper {
  margin: 46px 0;
}
.order-wrapper {
  margin-top: 32px;
}
.payment {
  margin-top: 159px;
}
.order-wrapper__item {
  padding: 15px 0;
}

.order-wrapper__item:last-child {
  padding-bottom: 0;
}

.order-wrapper__item:last-child:before {
  content: "";
  background: #f1eadc;
  width: 284px;
  height: 57px;
  position: absolute;
  z-index: -10;
  top: 0%;
  right: -3%;
}
.order-wrapper__item span {
  padding-right: 20px;
}

.order-wrapper__item:last-child span {
  padding-right: 13px;
}
.span-big {
  font-size: 20px;
}

.payment__checkbox {
  padding: 47px 0;
}

.payment__checkbox input {
  border: 1px solid #000000;
  border-radius: 0;
  position: absolute;
}
.payment__checkbox p {
  margin-left: 14px;
}
.adress-wrapper {
  padding: 81px 0;
}
#checkbox {
  margin-right: 14px;
}

/* Slick Slider */
.slider-team__item img {
  object-fit: cover;
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  justify-content: flex-start;
}

/* Точки (булиты) */
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 190px;
}
.slider-team .slick-dots {
  position: relative;
  padding: 0;
  bottom: 82px;
  left: 10px;
}
.slick-dots li {
  list-style: none;
}
/* Активная точка */
.slick-dots li.slick-active button {
  background-color: #000;
}

.slider-team .slick-dots li.slick-active button {
  background-color: #fff;
}
/* Элемент точки */
.slick-dots button {
  font-size: 0;
  width: 30px;
  height: 4px;
  background-color: #d1d1d1;
  margin-right: 12px;
}

.slider-team {
  position: relative;
}

/* Стрелка */

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 28px;
  height: 14px;
}

/* Стрелка влево */

.slick-arrow.slick-prev {
  left: -59px;
  background: url("../img/arrow-prev.svg") 0 0 / 100% no-repeat;
  transition: background 0.5s ease;
}

.slick-arrow.slick-prev:hover {
  transition: background 0.5s ease;
  background: url("../img/arrow-prev-active.svg") 0 0 / 100% no-repeat;
}

/* Стрелка вправо */

.slick-arrow.slick-next {
  right: -60px;
  background: url("../img/arrow-next.svg") 0 0 / 100% no-repeat;
  transition: background 0.5s ease;
}

.slick-arrow.slick-next:hover {
  transition: background 0.5s ease;
  background: url("../img/arrow-next-active.svg") 0 0 / 100% no-repeat;
}

/* Media */

@media (max-width: 1600px) {
}

@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
  .basket {
    margin-left: 20px;
  }
  .slider-two::before {
    display: none;
  }
  .slider-two::after {
    display: none;
  }
  .slick-arrow.slick-next,
  .slick-arrow.slick-prev {
    display: none !important;
  }
  .btn-wrapper {
    bottom: 100px;
  }
  .btn-shop {
    padding: 19px 40px;
  }
  section {
    padding-top: 50px;
  }
  footer {
    padding-top: 50px;
  }
  section:last-of-type {
    padding-bottom: 50px;
  }
  .order-wrapper__item:last-child:before {
    right: -15%;
  }
  .basket-card__item a:last-child {
    padding-left: 20px;
  }
}

@media (max-width: 991.98px) {
  .menu__item {
    margin-left: 10px;
  }
  .menu__item a {
    font-size: 14px;
  }
  .basket {
    margin-left: 15px;
  }
  .offer__title {
    font-size: 34px;
  }
  .offer__text {
    font-size: 16px;
  }

  .btn-wrapper {
    bottom: 200px;
    left: 40px;
  }
  .btn-shop {
    padding: 10px 20px;
  }
  .page-title {
    padding: 150px 0 30px;
  }
  .about__body {
    margin: 0;
    padding-top: 50px;
  }
  .row-wrapper-about {
    padding: 50px 0 50px;
  }
  .contacts-wrapper {
    margin-top: 30px;
  }

  a {
    font-size: 11px;
  }
  body {
    font-size: 13px;
  }
  h1 {
    font-size: 40px;
  }
  .goods-section {
    padding-top: 45px;
  }
  .option {
    padding-left: 0;
  }
  .option__text {
    padding: 25px 0;
  }
  .order-wrap__text {
    padding-left: 16px;
  }
  .payment__checkbox-btn {
    width: 100%;
    padding: 20px 0;
  }
  .adress-wrapper {
    padding: 0;
  }
}

@media (max-width: 767.98px) {
  .slick-dots {
    padding-top: 150px;
  }
  .advantage {
    padding-top: 20px;
  }
  .section-title {
    padding-bottom: 40px;
    font-size: 30px;
  }
  .btn-wrapper {
    bottom: 60px;
    left: 120px;
  }
  .menu {
    display: none;
    background: rgba(255, 255, 255, 0);

    border-radius: 3%;
  }
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
  }
  .navigation li a {
    padding: 10px;
  }
  .menu__item {
    margin-left: 0px;
  }
  .header {
    padding-top: 30px;
  }
  .btn-wrapper-shop {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 48px;
    justify-content: center;
  }
  .btn-shop {
    margin-top: 10px;
  }

  .total__span {
    padding-right: 36px;
  }
  h4 {
    font-size: 14px;
  }
  .goods-title {
    padding-top: 110px;
  }
  .order-wrap__text {
    padding-left: 0;
  }
  .order-wrapper__item:last-child:before {
    width: 110%;
    right: -26px;
  }
  .payment {
    margin-top: 55px;
  }
  textarea {
    width: 100%;
    height: 50px;
  }
  .basket-card__item a:last-child {
    padding-left: 0px;
  }
}

@media (max-width: 575.98px) {
  #back-top {
    right: 16px;
  }
  .btn-wrapper {
    left: 96px;
  }
  .slider-team .slick-dots {
    bottom: 42px;
  }

  .home-page {
    padding-top: 0px;
  }
  .close-menu {
    display: none;
  }
  .form-book textarea {
    width: 100%;
  }
  .menu__tel {
    display: none;
  }
  .basket-card__item a img {
    width: 100%;
  }

  .option__input {
    width: 50px;
    height: 50px;
  }
  button {
    width: 100%;
  }

  .total__span {
    padding: 10px 0;
    width: 100%;
    justify-content: center;
  }
  .img-item img {
    width: 100%;
  }
  .option__price {
    font-size: 30px;
  }
  .input-wrapper {
    margin-top: 40px;
  }
  .input-wrapper button {
    height: 100%;
  }
  .btn-light {
    width: 100%;
  }
  .order-wrap__text {
    padding-left: 10px;
  }
}

@media (max-width: 411px) {
  .basket {
    margin-left: 10px;
  }
  .btn {
    padding: 13px 13px;
  }

  .btn-down {
    width: 50px;
    height: 50px;
  }
  .btn-wrapper {
    left: 50px;
  }
  .close-menu {
    display: block;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
  }
  .page-title {
    padding: 120px 0 0;
  }
  h3 {
    font-size: 23px;
  }
  .order-wrapper__item:last-child:before {
    width: 100%;
    right: 5px;
  }
  h1 {
    font-size: 33px;
  }
}

@media (max-width: 320px) {
  .overflow-basket {
    overflow: auto;
  }
  .order-wrap {
    flex-direction: column;
  }
  .order-wrap__text {
    padding: 10px 0 0;
  }
}
